.container {
    width: 70%;
    margin: 0 auto;
    font-family: 'Calibri';
    font-size: 1.5rem;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.name-company{
    display: none;
}

.details-company_form {
    display: none;
}

.details-company_inn {
    display: none;
}

.details-company_phone {
    display: none;
}

.details-company_worktime {
    display: none;
}

.device {
        margin-bottom: 30px;
}

.conditions {
    display: none;
}

.footer {
    display: none;

}

.manual {
    font-size: 2rem;
        text-align: center;

}

@media print{
    .container {
        width: 210mm;
        height: 270mm;
        font-family: 'Calibri';
    }

    .header {
        font-size: 8pt;
    }
    
    .name-company{
        display: block;
    }
    
    .details-company_form {
        display: block;
    }
    
    .details-company_inn {
        display: block;
    }

    .details-company_adress-select{
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-family: 'Calibri';
        font-size: 8pt;
    }
    
    .details-company_phone {
        display: block;
    }
    
    .details-company_worktime {
        display: block;
    }
    
    .order {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 16pt;
    }

    .order-number {
         border: none;
         appearance: none;
         -webkit-appearance: none;
         -moz-appearance: none;
         font-family: 'Calibri';
         font-size: 14pt;
    }

    #order-date {
         border: none;
         appearance: none;
         -webkit-appearance: none;
         -moz-appearance: none;
         font-family: 'Calibri';
         font-size: 14pt;
    }

    #model {
        border: none;
        font-family: 'Calibri';
        font-size: 12pt;
    }

    #imei {
        border: none;
        font-family: 'Calibri';
        font-size: 12pt;
    }

    #display-status {
         border: none;
         appearance: none;
         -webkit-appearance: none;
         -moz-appearance: none;
         font-family: 'Calibri';
         font-size: 12pt;
    }

    #body-status {
         border: none;
         appearance: none;
         -webkit-appearance: none;
         -moz-appearance: none;
         font-family: 'Calibri';
         font-size: 12pt;
    }

    #device_defect {
         border: none;
         appearance: none;
         -webkit-appearance: none;
         -moz-appearance: none;
         font-family: 'Calibri';
         font-size: 12pt;
    }
    
    #client-name {
         border: none;
         font-family: 'Calibri';
         font-size: 12pt;
    }
    
    #client-phone {
         border: none;
         font-family: 'Calibri';
         font-size: 12pt;
    }
    
    #repairs-price {
         border: none;
         font-family: 'Calibri';
         font-size: 12pt;
    }
    
    #repairs-prepay {
         border: none;
         font-family: 'Calibri';
         font-size: 12pt;
    }
    
    .conditions {
        display: block;
        margin-bottom: 60px;
    }
    
    .footer {
        display: block;
    }

    .manual {
        display: none;
    }
}